
@model ProductManagement.ViewModels.ProductListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAddProduct</title>
</head>
<body>
    <div>
        @{
            //Html.RenderPartial("PartialAddProduct", Model);
            Html.RenderPartial("PartialAddProduct",Model);
        }
    </div>
</body>
</html>
